body {
  background-color: black;
}

@font-face {
  font-family: "SCDream5";
  font-style: normal;
  font-weight: 400;
  src: url(/font/SCDream5.otf);
}

* {
  box-sizing: border-box;
  font-family: "SCDream5";
}
.result-info-section {
  font-size: medium;
}
.kind-of-result {
  width: 1200px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.green {
  color: green;
}
.yellow {
  color: yellow;
}
.blue {
  color: blue;
}
.red {
  color: red;
}

.result-title {
  padding-top: 100px;
  padding-bottom: 100px;
  font-size: 24px;
  color: white;
}
.result-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  width: 1400px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.grid-item {
  width: 440px;
  height: 550px;
  border: 2px solid black;
  display: flex;
  background-color: black;
  flex-direction: column;
  gap: 20px;
  border-radius: 30px;
  margin-left: -80px;
  border: 1px solid white;
}
.grid-img {
  width: 438px;
  height: 450px;
  border-radius: 30px;

  display: flex;

  justify-content: center;
  background-image: url(/img/그림1.jpg);
  background-repeat: no-repeat;
  background-size: 500px 500px;
  border-image-slice: fill;
  background-position-y: -15px;
  background-position-x: -15px;
}
.grid-description {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: -12px;
}
.dgrid-item {
  width: 80px;
  height: 80px;
  background-color: gray;
  margin: 5px auto;
  text-align: center;
  line-height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 3px;
  border: 3px white solid;
}

.st-item {
  border-bottom-left-radius: 10px;
}
.fn-item {
  border-bottom-right-radius: 10px;
}

.dg-title {
  background-color: black;
  color: white;
  background-color: gray;
  width: 70px;
  height: 80px;
  margin-top: 12px;
  padding: 8px 4px;
  margin-bottom: -9px;
  border-radius: 3px;
}
.dg-degree {
  background-color: black;
  color: white;
  width: 70px;
  height: 80px;
  /* margin-top: -4px; */
  padding: 8px 4px;
  border-radius: 3px;
}

.p1 {
  background-image: url(/img/엘리자베스.png);
  background-repeat: no-repeat;
  background-size: 500px 600px;
  border-image-slice: fill;
  background-position-y: -15px;
  background-position-x: -15px;
}
.p2 {
  background-image: url(/img/타노스.jpg);
  background-repeat: no-repeat;
  background-size: 500px 600px;
  border-image-slice: fill;
  background-position-y: -15px;
  background-position-x: -15px;
}
.p3 {
  background-image: url(/img/캡아.jpg);
  background-repeat: no-repeat;
  background-size: 500px 600px;
  border-image-slice: fill;
  background-position-y: -15px;
  background-position-x: -15px;
}
.p4 {
  background-image: url(/img/볼드모트.jpg);
  background-repeat: no-repeat;
  background-size: 500px 600px;
  border-image-slice: fill;
  background-position-y: -15px;
  background-position-x: -15px;
}
.p5 {
  background-image: url(/img/타노스.jpg);
  background-repeat: no-repeat;
  background-size: 500px 600px;
  border-image-slice: fill;
  background-position-y: -15px;
  background-position-x: -15px;
}
.p6 {
  background-image: url(/img/케빈.jpg);
  background-repeat: no-repeat;
  background-size: 500px 600px;
  border-image-slice: fill;
  background-position-y: -15px;
  background-position-x: -15px;
}
.p7 {
  background-image: url(/img/엘리자베스.png);
  background-repeat: no-repeat;
  background-size: 500px 600px;
  border-image-slice: fill;
  background-position-y: -15px;
  background-position-x: -15px;
}
.p8 {
  background-image: url(/img/캡아.jpg);
  background-repeat: no-repeat;
  background-size: 500px 600px;
  border-image-slice: fill;
  background-position-y: -15px;
  background-position-x: -15px;
}
.p9 {
  background-image: url(/img/라이트.png);
  background-repeat: no-repeat;
  background-size: 500px 600px;
  border-image-slice: fill;
  background-position-y: -15px;
  background-position-x: -15px;
}
.p10 {
  background-image: url(/img/엘리자베스.png);
  background-repeat: no-repeat;
  background-size: 500px 600px;
  border-image-slice: fill;
  background-position-y: -15px;
  background-position-x: -15px;
}
.p11 {
  background-image: url(/img/캡아.jpg);
  background-repeat: no-repeat;
  background-size: 500px 600px;
  border-image-slice: fill;
  background-position-y: -15px;
  background-position-x: -15px;
}
.p12 {
  background-image: url(/img/모아나.jpg);
  background-repeat: no-repeat;
  background-size: 500px 600px;
  border-image-slice: fill;
  background-position-y: -15px;
  background-position-x: -15px;
}
